 #playpausebutton {
  color: white;
  background-color: black;
  display: block;
  outline: solid 2px gray;
 }
 #volume {
   color: red;
   text-decoration: none;
   background-color: white;
   transform: rotate(-90deg);
   padding: 0px; margin: 0px;
 }
