* { padding: 0; margin: 0; }
canvas { background: #eee; display: block; margin: 0 auto; padding: 0; margin: 0;}

body{
  background-color: rgb(50,100,50);
  font-family: VL Gothic, serif, cursive;
  text-align: center;
  padding: 0; margin: 0;
  display: block;
  width: 80%;
  position: absolute;
  z-index: 0;
  }

  a {
    color: rgb(150, 150, 255);
  }

  nav > ul a:hover {
    outline: solid 2px red;
    width: 20%;
  }

  nav {
    display: block;
    position: relative;
  }

  canvas {
  position:absolute;
  display:block;
  z-index: 1;
  }

  .leftCol {
    width: 20% content-box;
    float: left;
  }

  .leftCol>a {
    text-align: center;
    text-decoration: none;
  }

  .navimg {
    width: 10%;
    height: 10%;
  }


/*So > just means filter through the list, first element first, keep goin till you
  get to the element and then class name or id you're going for. */
